<section style="background-color: #eee;" class="flex-grow-1">
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card" id="chat1" style="border-radius: 15px;">
          <div
            class="card-header d-flex justify-content-center align-items-center p-3 bg-info text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px;"
          >
            <p class="mb-0 fw-bold">Chat de asistencia</p>
          </div>
          <div class="card-body">
            <div id="chat-body">

            </div>

            <div class="form-outline">
              <textarea
                class="form-control"
                id="chat-entry"
                rows="4"
              ></textarea>
              <label class="form-label" for="chat-entry">Escribenos aquí</label>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<script src="/public/js/bot.js" type="module"></script>